.container-section-time{
    display: flex;
    justify-content: center;
    padding: 100px;
    background: var(--blue-1, #080B16);
}
.box-time{
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
   
  

}
.box-time h1{
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.26px;
    transform: rotate(-90deg);
    position: absolute;
    top: 35%;
    left: -25%;
    
    
   

}

.img-time p{
    position: relative;
    bottom: 11%;
    color: var(--Orange, #F0B35B);
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.icons-time{
    display: flex;
    justify-content: center;
    gap: 17px;
}

.img-time{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    gap: 20px;
}