.container-section-unidades{
    padding: 100px;
    display: flex;
    justify-content: center;
    height: 100% 
}

.container-section-unidades h1{
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}

.img-unidades{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 100px;
    position: relative;
    max-width: 1080px;
   

   
}

.paragraph-unidade-in{
    border-radius: 8px;
    border: 1px solid #4A4A4A;
    background: black;
    backdrop-filter: blur(2px);
    width: 251px;
    height: 68px;
    position: absolute;  
    transform: translate(35%, -135%); 
    padding: 10px;
    text-align: center; /* Centraliza o texto */

    
    }

.paragraph-unid1{
    color:#FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    
    
}

.paragraph-unid2{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}